.treeNode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 8px;
  padding: 0px 16px;
  background: #a9a9dd;
  cursor: grab;

}

.isLocked {
  background: #d83a6f;
  cursor: auto;
}
